---
import '../styles/style.scss';
import BaseHeader from '../components/base-header.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHeader title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
